/* Styles pour la case à cocher */
.mat-dialog-title{
    color: red;
}
mat-checkbox {
    /* Styles généraux pour la case à cocher */
    .mat-checkbox-layout {
      display: flex;
      align-items: center;
    }
  
    /* Styles pour la case à cocher elle-même */
    .mat-checkbox-inner-container {
      border: 2px solid #007bff; /* Couleur de la bordure de la case à cocher */
      border-radius: 5px; /* Bordure arrondie */
      width: 24px; /* Largeur de la case à cocher */
      height: 24px; /* Hauteur de la case à cocher */
    }
  
    /* Styles pour la coche à l'intérieur de la case à cocher */
    .mat-checkbox-checked .mat-checkbox-inner-container {
      background-color: #007bff; /* Couleur de fond lorsque la case est cochée */
      border-color: #007bff; /* Couleur de la bordure lorsque la case est cochée */
    }
  
    /* Styles pour le libellé de la case à cocher */
    .mat-checkbox-label {
      font-size: 16px; /* Taille de police du libellé */
      margin-left: 10px; /* Marge à gauche du libellé */
      color: #333; /* Couleur du texte du libellé */
    }
  }
  