<div class="login-container">
    <div class="login-box">
      <div class="login-form">
        
        <div class="row justify-content-center">
        
                <h3>Welcome!</h3>
                <form method="post" action="" id="register_area" class="mb-3" style="padding-top: 30px;">
                    <input type="hidden" name="token" value="CEOQ9@wank@MSZ3YPJl/W/zNrBm-v-L-TfDc5@ix8A@2U1Fs-/6@yg/G0tpKuHh/ReIoXb4Vjq7-/d">
                    <div>
                        <label>You are?</label><br><br>
                        <button type="button" class="btn btn-block btn-info btn-lg btn-v2" (click)="onStudentButtonClick()">A student</button><br><br>

                        <button type="button" class="btn btn-block btn-warning btn-lg btn-v2" (click)="onSteacherButtonClick()">A teacher</button>
                    </div>
                    <!-- Autres éléments du formulaire -->
                </form>
                <div class="row pt-3">
                    <div class="col-4 mt-auto my-auto"><div class="line"></div></div>
                    <div class="col-4 text-center text-muted">Or</div>
                    <div class="col-4 mt-auto my-auto"><div class="line"></div></div>
                </div>
                <div class="text-center mt-4">
                    
                    <button type="button" class="btn btn-white text-muted pl-3 pr-3">Sign In</button>
                 
                       
                </div>
            
       
        </div>
  
      </div>
     
      <div class="login-image">
       
        <img src="assets/image.jpg" alt="Login Image" >
        
      </div>
    </div>
  </div>