<div class="login-container">
  <div class="login-box">
    <div class="login-form">
      <h2>SingIn</h2>
      <form [formGroup]="form">
        <div>
          <input type="text" formControlName="email" placeholder="Username" required>
          <div *ngIf="form.get('email')!.hasError('pattern')" class="comment">
            Please enter the '@' character
          </div>
          <div *ngIf="form.get('email')!.hasError('email')" class="error-message">
            Email is invalid
          </div>
          <div *ngIf="emailNotFound" class="error-message">
            Email not found in database
          </div>
        </div>
        <div>
          <input type="password" placeholder="Password" formControlName="password" required>
          <div *ngIf="form.get('password')!.hasError('required')" class="error-message">

          </div>
        </div>
        <div class="aligned-to-right">
          <button mat-button color="primary" [disabled]="!form.valid || isLoggingIn" (click)="login()">SignIn</button>
          <br><br>
          <button [disabled]="!form.get('email')!.valid || isRecoveringPassword" (click)="recoverPassword()"
            *ngIf="!isRecoveringPassword" test-id="recover-password-button">Recover Password</button>
        </div>
        <button type="button" (click)="signinWithGoogle()" class="btn btnFill">
          <img src="assets/google.jpeg" alt="Google Image">
        </button>
        <button mat-raised-button color="primary" class="button-loader" *ngIf="isLoggingIn" test-id="login-loader"
          type="button" aria-label="Logging in">
          <mat-spinner color="accent" diameter="20"></mat-spinner>
        </button>
        <div class="row">
          <div id="formFooter">
            <a routerLink="/register" class="underlineHover">Need Account?</a>
          </div>
        </div>
      </form>
    </div>
    <div class="login-image">
      <img src="assets/image.jpg" alt="Login Image">
    </div>
  </div>
</div>