
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contactez-nous</title>
  
</head>
<body>
  <div class="container">
    <h1 class="title">CONTACTEZ-NOUS</h1>
    <a class="message">N'hésitez pas à nous contacter pour toutes vos questions ou préoccupations.</a>
    
    <div class="card">
      <i class="fas fa-phone"></i>
      <p>Par téléphone : <br>
         76 21 10 24 <br>
      
        76 21 10 26</p>
      
    </div>
    
    <div class="card">
      <i class="fas fa-comments"></i>
      <p>vister à nous address</p>
      <a href="https://www.google.com/maps?q=Faculté des Sciences de Gafsa
      Campus Universitaire, Gafsa 2112" target="_blank">
        
        <p>A notre adresse.</p>
      </a>
    </div>
    
    
    <div class="card">
      
      <i class="fas fa-envelope"></i>
      <p>Par email</p>
      <a href="mailto: contact@fsgf.rnu.tn">
        
       
        <p> contact@fsgf.rnu.tn.</p>
      </a>
    </div>
  </div>
</body>

